
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="navbar">
        <img src="https://previews.123rf.com/images/anutaberg/anutaberg1607/anutaberg160700114/59925349-kitchenware-icons-vector-set-cartoon-kitchen-utensil-collection-spoon-pot-food-knife-fork-cup-pan-sp.jpg" alt="" id="logo">
      <a class="navbar-brand" routerLink="/app-body" id="jaza" href="#">JAZA-KEJA</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navlinks">
          <li class="nav-item">
            <a class="nav-link active" id="link2" aria-current="page" routerLink="/app-body" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link1" href="#">Kitchen ware</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link3" href="#">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link4" href="#" tabindex="-1" aria-label="true">Furnitures</a>
          </li>
       
        </ul>
        <ul class="navbar-nav  mb-2 mb-md-0" *ngIf="!authenticated">
          <li class="nav-item">
            <a mat-raised-button routerLink="/app-login" href="#" class="sign">Login</a>
            <!-- <button class="sign">Login</button> -->
          </li>
          <li class="nav-item">
            <a mat-raised-button routerLink="/app-register" href="#" class="sign" >Sign up</a>
            <!-- <button class="sign">Sign Up</button> -->
          </li>
        </ul>

        <ul class="navbar-nav  mb-2 mb-md-0" *ngIf="authenticated">
          <li class="nav-item">
            <a mat-raised-button routerLink="/app-login" href="#" class="sign" (click)="logout()">Logout</a>
            <!-- <button class="sign">Login</button> -->
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a mat-raised-button routerLink="/app-register" href="#" class="sign" >Sign up</a> -->
            <!-- <button class="sign">Sign Up</button> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </nav>
