<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="navbar">
        <img src="https://previews.123rf.com/images/anutaberg/anutaberg1607/anutaberg160700114/59925349-kitchenware-icons-vector-set-cartoon-kitchen-utensil-collection-spoon-pot-food-knife-fork-cup-pan-sp.jpg" alt="" id="logo">
      <a class="navbar-brand" id="jaza" href="#">JAZA-KEJA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navlinks">
          <li class="nav-item">
            <a class="nav-link active" id="link2" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link1" href="#">Kitchen ware</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link3" href="#">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="link4" href="#" tabindex="-1" aria-label="true">Furnitures</a>
          </li>
          <li class="nav-item">
            <button class="sign">Login</button>
          </li>
          <li class="nav-item">
            <button class="sign">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
