/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

nav{
    margin-top: 10px;
    margin-bottom: 15px;
}
#jaza{
    color:gold;
}
#logo{
    width:79px;
}
#navbar{
    background-color:rgb(13, 63, 114);
    height:90px
}
#navbarNav{
    color:gold;
    justify-content:space-evenly;
}
#navlinks>li{
    color:gold;
    margin:5px;
    font-size: x-large;
}
#link1,#link2,#link3,#link4{
    color:gold;
}
.sign{
    background-color:goldenrod;
}
#card2{
    background-color:wheat;
}
/* footer */
.card{
    background-color:rgb(13, 63, 114)
}
.card-header{
    color:gold;
    padding-left:40%;
}
#foot1{
    color:gold;
    padding-left:40%;
    font-size:larger;
}
.terms:hover{
    color:lightgreen;
}

/* body */
h5{
    color:black;
    font-size:xx-large;
}
.green{
    color:rgb(2, 68, 2);
    font-weight:bold;
    font-size:large;
}
.carousel{
    margin-bottom: 4%;
    background-color:olive
}
.d-block{
    height:350px;
}
.images{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.images>img{
    margin: 25px;
    height: 250px;
    width: 32%;
}
h6{
    font-size: x-large;
    font-weight:300;
    font-style: oblique;
    color:green;
    margin-left: 40%;
    text-decoration: underline;
}
.form-label{
    color:black;
    font-size: large;
    font-weight:400;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


