/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

nav{
    margin-top: 10px;
    margin-bottom: 15px;
}
#jaza{
    color:gold;
}
#logo{
    width:79px;
}
#navbar{
    background-color:rgb(13, 63, 114);
    height:90px
}
#navbarNav{
    color:gold;
    justify-content:space-evenly;
}
#navlinks>li{
    color:gold;
    margin:5px;
    font-size: x-large;
}
#link1,#link2,#link3,#link4{
    color:gold;
}
.sign{
    background-color:goldenrod;
}
/* footer */
.card{
    background-color:rgb(13, 63, 114)
}
.card-header{
    color:gold;
    padding-left:40%;
}
#foot1{
    color:gold;
    padding-left:40%;
    font-size:larger;
}
.terms:hover{
    color:lightgreen;
}