<!-- <form class=" g-3 needs-validation" method="POST" validate>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label" >First Name</label>
    <input type="text" class="form-control" id="validationDefault03" required>
 </div>
 <div class="col-md-6">
  <label for="validationDefault03" class="form-label">Username</label>
  <input type="text" class="form-control" id="validationDefault03" required>
</div>
  <div class="col-md-6">
      <label for="validationDefault03" class="form-label">Email</label>
      <input type="email" class="form-control"  id="validationDefault03" placeholder="goat@gmail.com" required>
       <div class="invalid-feedback">
        Please provide a valid email.
      </div>
  </div>
  <div class="col-md-6">
      <label for="validationDefault03" class="form-label">Password</label>
      <input type="text" class="form-control" id="validationDefault03" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Confirm Password</label>
    <input type="text" class="form-control" id="validationDefault03" required>
  </div>
  <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
          Remember me
        </label>
      </div>
    </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form> -->

 <div class="row" id="reg">
  <div class="col s8 offset-s2">
    <div class="card" id="card2">
      <div class="sm-jumbotron center-align">
        <h4>User Registration</h4>
      </div>
      <form class="col s12 white" [formGroup]="form" method="POST" (submit)='submit()'  validate>
        <!-- (ngSubmit)="onSubmit()" -->
        <!-- [formGroup]="registerForm" -->
        <div class="row">
        <div class="input-field col s6" >
          <label for="">User Name</label>
          <input type="text" class="input" formControlName="username" name="username"   required> 
          <!-- [(ngModel)]="user.username"  -->
          <!-- #username="ngModel" -->
        </div>
        <!-- <mat-form-field> -->
          <!-- <input matInput placeholder="pat@example.com"  required> -->
          <!-- formControlName="email" -->
        <!-- </mat-form-field> -->

        </div>
        <div class="row">
          <div class="input-field col s6" >
            <label for="">Password</label> 
            <input type="password" class="input" formControlName="password" name="password" required>
            
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6" >
            <label for="">Email</label>
            <input class="input" type="text" formControlName="email" name="email" required>
            
          </div>
        </div>
        <!-- <div class="row">
          <div class="input-field col s6">
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required>
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required>
            <label for="last_name">Last Name</label>
          </div>
        </div> -->
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-primary"  id="sub" type="submit">Register</button>
          </div>
        </div>
      </form>
     
    </div>
  </div>
</div> 

