<p>
    <mat-form-field appearance="legacy">
      <mat-label>Enter Username</mat-label>
      <input matInput placeholder="Username" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Username required</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Enter Email</mat-label>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Email required</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Enter Password</mat-label>
      <input matInput placeholder="Password">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Password required</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput placeholder="Password">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Password required</mat-hint>
    </mat-form-field>
  </p>
